# Ambiente virtual
.venv/
venv/
ENV/
env/

# Pycache e arquivos temporários
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos de log
*.log

# IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Testes e cobertura
.coverage
.scannerwork
reports/
htmlcov/
.tox/
.nox/

# Docker (caso use)
*.pid
*.db
*.sqlite3

# Outros
.pytest_cache
.env
*.pem
*.key
*.crt

# SonarQube Exclusions
sonar-project.properties
sonar-cacerts.jks
public/